.vscode
node_modules
public
.editorconfig
.eslintrc.js
babel.config.js
package-lock.json
package.json

# You can get this here: https://github.com/jmcooper/build-a-bot-server
build-a-bot-server

# Django/Python
django-vuejs/proj/**/__pycache__
*.py[cod]
*$py.class
django-vuejs/venv
django-vuejs/proj/db.sqlite3
